# 1 Introduction
## 1.1 What is GMNS?
The General Modeling Network Specification (GMNS)defines a set of flexible and unified multi-mode traffic network representation format, which is mainly convenient for researchers to share and merge network data from different channels.It covers a variety of network types, adopts a unified format, and is suitable for various traffic network modeling purposes.If you want to learn more about GMNS, you may as well click the link https://github.com/asu-trans-ai-lab/Path4GMNS/blob/master/path4gmns.ipynb. For more information about GMNS format,please refer to https://github.com/asu-trans-ai-lab/osm_test_data_set.
## 1.2 What is Pandas?
It was originally developed by AQR capital management in April 2008 and was open source at the end of 2009.At present,it is continuously developed and maintained by pydata development team, which focuses on Python data package development.It is a part of pydata project.
In order to use pandas more effectively, we recommend using anacaonda as your ide.If you have done so, you can view information about pandas by executing the following command at the anaconda power shell prompt.For example:
- Check the panda version: enter the "CONDA list" command to check whether the panda is installed. If pandas is installed on your computer, you can get a list of its version information in the console.
- Install Panda: if you haven't installed panda, please enter the "PIP install Panda" command. Anaconda will automatically download and install the latest version of panda.
- Unload Panda: if you want to unload panda, you should use "PIP unload Panda" command.

# 2 How to use panda to process GMNS data?
In this section, some examples illustrate the basic process of GMNS data processing with pandas.It should be noted that once you locate your online dataset from Github, you may need to make some minor adjustments.For ease of exposition,let's use the node.csv,link.csv and zone.csv to show the basic process for using panda to process GMNS data.we can learn based on the data set https://github.com/asu-trans-ai-lab/QGIS_NeXTA4GMNS/tree/master/datasets.
## 2.1 Example of using node.csv

In [1]:
import pandas as pd  #import pandas package
print('Pandas version is ' + pd.__version__) #search the pandas version in python code

Pandas version is 1.2.3

In [2]:
df_node=pd.read_csv(r'F:\python\ASU\macronet\node.csv') # read node.csv file
nodeCnt = df_node.index #get the count of the node.csv
print('the number of nodes is {0}'.format(len(nodeCnt))) # output the number of nodes

the number of nodes is 219

## 2.2 Example of using link.csv

In [3]:
import pandas as pd #import pandas Package
df_link =pd.read_csv(r'F:\python\ASU\macronet\link.csv') # read link.csv file
print(df_link.columns) #get the field set in link.csv

Index(['name', 'link_id', 'from_node_id', 'to_node_id', 'facility_type',
       'dir_flag', 'length', 'lanes', 'capacity', 'free_speed', 'link_type',
       'cost', 'geometry', 'TMC'],
      dtype='object')

In [4]:
print(df_link.head(3)) #get the first three record in link.csv, and you can change the parameter based on your needs.

   name  link_id  from_node_id  to_node_id  facility_type  dir_flag  \
0   NaN        0             9         226            NaN       NaN
1   NaN        1           226           9            NaN       NaN
2   NaN        2           158         254            NaN       NaN

       length  lanes  capacity  free_speed  link_type  cost  \
0  139.285820      1       NaN    -1.60934          1   NaN
1  146.101478      1       NaN    -1.60934          1   NaN
2  110.436568      1       NaN    40.23350          1   NaN

                                            geometry  TMC
0  LINESTRING (-111.93039 33.42312,-111.93038 33....  NaN
1  LINESTRING (-111.9297 33.42413,-111.93013 33.4...  NaN
2  LINESTRING (-111.94127 33.42431,-111.94071 33....  NaN

In [5]:
# sort one column in link.csv and get the row that contains the maximum value of the column
lenSort = df_link.sort_values('length', ascending=False, kind='quicksort', ignore_index=False)
print(lenSort.head(1))

     name  link_id  from_node_id  to_node_id  facility_type  dir_flag  \
155   NaN      164           111         107            NaN       NaN

         length  lanes  capacity  free_speed  link_type  cost  \
155  508.119779      1       NaN    -1.60934          1   NaN

                                              geometry  TMC
155  LINESTRING (-111.92628 33.42009,-111.92614 33....  NaN

In [6]:
print(df_link['length'].max()) # get the length of the longest link in link.csv

508.11977870229583

In [7]:
print(df_link.loc[1]) # get the content in the first row

name                                                           NaN
link_id                                                          1
from_node_id                                                   226
to_node_id                                                       9
facility_type                                                  NaN
dir_flag                                                       NaN
length                                                  146.101478
lanes                                                            1
capacity                                                       NaN
free_speed                                                -1.60934
link_type                                                        1
cost                                                           NaN
geometry         LINESTRING (-111.9297 33.42413,-111.93013 33.4...
TMC                                                            NaN
Name: 1, dtype: object

In [8]:
print(df_link[df_link['lanes']==1]) #get the links with 1 lane in link.csv

     name  link_id  from_node_id  to_node_id  facility_type  dir_flag  \
0     NaN        0             9         226            NaN       NaN
1     NaN        1           226           9            NaN       NaN
2     NaN        2           158         254            NaN       NaN
3     NaN        3           254         158            NaN       NaN
4     NaN        4            13          86            NaN       NaN
..    ...      ...           ...         ...            ...       ...
503   NaN      540            67          66            NaN       NaN
504   NaN      541           227         226            NaN       NaN
505   NaN      542           226         227            NaN       NaN
506   NaN      543           234          28            NaN       NaN
507   NaN      544           236         238            NaN       NaN

         length  lanes  capacity  free_speed  link_type  cost  \
0    139.285820      1       NaN    -1.60934          1   NaN
1    146.101478      1       NaN    -1.60934          1   NaN
2    110.436568      1       NaN    40.23350          1   NaN
3    110.435301      1       NaN    40.23350          1   NaN
4    156.978514      1       NaN    40.23350          1   NaN
..          ...    ...       ...         ...        ...   ...
503  164.425098      1       NaN    -1.60934          1   NaN
504  194.710904      1       NaN    -1.60934          1   NaN
505  198.666321      1       NaN    -1.60934          1   NaN
506    6.390731      1       NaN    -1.60934          1   NaN
507    6.551988      1       NaN    -1.60934          1   NaN

                                              geometry  TMC
0    LINESTRING (-111.93039 33.42312,-111.93038 33....  NaN
1    LINESTRING (-111.9297 33.42413,-111.93013 33.4...  NaN
2    LINESTRING (-111.94127 33.42431,-111.94071 33....  NaN
3    LINESTRING (-111.94008 33.42438,-111.94071 33....  NaN
4    LINESTRING (-111.93667 33.42433,-111.93656 33....  NaN
..                                                 ...  ...
503  LINESTRING (-111.93492 33.42547,-111.93506 33....  NaN
504  LINESTRING (-111.92786 33.42334,-111.92817 33....  NaN
505  LINESTRING (-111.92972 33.42408,-111.92966 33....  NaN
506  LINESTRING (-111.94233 33.42047,-111.94233 33....  NaN
507  LINESTRING (-111.94119 33.42048,-111.94119 33....  NaN

[389 rows x 14 columns]

## 2.3 Example of using zone.csv

In [9]:
import pandas as pd #import pandas package
df_zone=pd.read_csv(r'F:\python\ASU\macronet\zone.csv') #read zone.csv file
print('the total number of zones is {0}'.format(len(df_zone.index))) #get the total number of zones

the total number of zones is 150

In [10]:
typeA = df_zone.loc[df_zone['name'].str.contains('A')] #select the zones that start with the letter A
print(typeA) # print the row about zones that start with the letter A

   zone_id      name                                           geometry
0        1  A2 - 161  POLYGON ((-111.945007 33.427002, -111.944008 3...
1        2    A3 - 1  POLYGON ((-111.945007 33.426003, -111.944008 3...
2        6    A7 - 2  POLYGON ((-111.945007 33.422001, -111.944008 3...
3        7    A8 - 3  POLYGON ((-111.945007 33.421001, -111.944008 3...
4        9   A10 - 4  POLYGON ((-111.945007 33.419003, -111.944008 3...
5       13   A14 - 5  POLYGON ((-111.945007 33.415001, -111.944008 3...
6       16   A17 - 7  POLYGON ((-111.945007 33.412003, -111.944008 3...
7       18   A19 - 8  POLYGON ((-111.945007 33.410000, -111.944008 3...

In [11]:
print('the count of fields in zone.csv is {0}'.format(len(typeA.columns)))

the count of fields in zone.csv is 3

In [12]:
print('the count of the A zone is {0}'.format(len(typeA.index))) #get the count of the A zone

the count of the A zone is 8

In [13]:
typeA.to_csv(r'F:\python\ASU\macronet\typeA.csv') #export the rows about A zone to csv file

## 2.4 Example of using online dataset
You can also fetch online dataset easily.Now, we will give some useful examples. 
Firstly, when you get the online resources,some steps will be executed to deal with your Github URL.

CaseⅠ:
You should insert 'raw.'into your URL. For example,you should modify https://githubusercontent.com/cs109/2014_data/master/countries.csv
to https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv

CaseⅡ:
You should remove 'blob' and replace 'Github' with 'raw.githubsercontent'. For example,you should modify https://github.com/asu-trans-ai-lab/QGIS_NeXTA4GMNS/blob/master/datasets/ASU/macronet/zone.csv
to https://raw.githubusercontent.com/asu-trans-ai-lab/QGIS_NeXTA4GMNS/master/datasets/ASU/macronet/zone.csv

In [3]:
import pandas as pd
import io
import requests
url='https://raw.github.com/asu-trans-ai-lab/DTALite/main/dataset/01_two_corridor/node.csv'
# https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv
# https://raw.githubusercontent.com/asu-trans-ai-lab/QGIS_NeXTA4GMNS/master/datasets/ASU/macronet/zone.csv
# https://raw.github.com/asu-trans-ai-lab/DTALite/main/dataset/01_two_corridor/node.csv
s=requests.get(url).content
pd_url=pd.read_csv(io.StringIO(s.decode('utf-8')))
pd_url.head()

,node_id,name,x_coord,y_coord,node_type,ctrl_type,zone_id,geometry
0,1,NaN,0.017882,-0.125179,NaN,NaN,1,POINT (0.017882 -0.125179)
1,2,NaN,40.253933,0.053648,NaN,NaN,2,POINT (40.253933 0.053648)
2,3,NaN,19.778254,14.806867,NaN,NaN,0,POINT (19.778254 14.806867)
3,4,NaN,19.688841,-9.692418,NaN,NaN,0,POINT (19.688841 -9.692418)

## 2.5 Example of using PivotTable
A PivotTable is a powerful tool to calculate, summarize, and analyze data that lets you see comparisons, patterns, and trends in your data.
Notes： If you have not used Pivot Table before even an Excel, please refer to the references based Pivot Table link to https://support.microsoft.com/en-us/office/create-a-pivottable-to-analyze-worksheet-data-a9a84538-bfe9-40a9-a8e9-f99134456576

In [15]:
import pandas as pd
import io
import numpy as np
import requests
url='https://raw.githubusercontent.com/asu-trans-ai-lab/DTALite/main/dataset/11_Berkeley_Highway_Lab-Network/SensorDataDay013.csv'
s=requests.get(url).content
pd_SensorData=pd.read_csv(io.StringIO(s.decode('utf-8')))
pd_SensorData.head()

,Unix Timestamp (local time),StationID,Total Flow_per_obs_interval,Avg Density,Avg Speed
0,03/17/2010 00:00,400009,35,0.0103,68.9
1,03/17/2010 00:00,400126,24,0.0082,70.6
2,03/17/2010 00:00,400176,52,0.0139,71.3
3,03/17/2010 00:00,400367,48,0.0148,70.4
4,03/17/2010 00:00,400432,53,0.0150,68.3

In [16]:
pd_SensorData.pivot(index='Unix Timestamp (local time)', columns='StationID',values='Avg Density')

StationID,400009,400126,400176,400367,400432,400679,400691,400728,400803,400808,401198,401242
Unix Timestamp (local time),,,,,,,,,,,,
03/17/2010 00:00,0.0103,0.0082,0.0139,0.0148,0.0150,0.0173,0.0067,0.0054,0.0066,0.0140,0.0167,0.0061
03/17/2010 00:05,0.0143,0.0111,0.0136,0.0176,0.0165,0.0171,0.0085,0.0097,0.0092,0.0189,0.0170,0.0104
03/17/2010 00:10,0.0135,0.0116,0.0139,0.0148,0.0159,0.0166,0.0104,0.0087,0.0104,0.0147,0.0167,0.0110
03/17/2010 00:15,0.0128,0.0109,0.0143,0.0145,0.0150,0.0153,0.0099,0.0080,0.0108,0.0163,0.0155,0.0094
03/17/2010 00:20,0.0117,0.0089,0.0143,0.0160,0.0134,0.0181,0.0073,0.0051,0.0087,0.0167,0.0175,0.0079
...,...,...,...,...,...,...,...,...,...,...,...,...
03/17/2010 23:35,0.0184,0.0184,0.0200,0.0213,0.0191,0.0244,0.0161,0.0116,0.0148,0.0219,0.0253,0.0164
03/17/2010 23:40,0.0146,0.0127,0.0183,0.0229,0.0186,0.0246,0.0104,0.0080,0.0116,0.0251,0.0227,0.0110
03/17/2010 23:45,0.0147,0.0152,0.0219,0.0235,0.0174,0.0260,0.0117,0.0097,0.0128,0.0244,0.0260,0.0125
03/17/2010 23:50,0.0124,0.0096,0.0149,0.0150,0.0170,0.0174,0.0087,0.0094,0.0032,0.0060,0.0178,0.0095
03/17/2010 23:55,0.0128,0.0119,0.0133,0.0174,0.0154,0.0215,0.0102,0.0071,0.0026,0.0049,0.0180,0.0089

In [17]:
pd.pivot_table(pd_SensorData,index='Unix Timestamp (local time)',values='Avg Density',aggfunc=[np.sum],fill_value=0)

                                    sum
                            Avg Density
Unix Timestamp (local time)
03/17/2010 00:00                 0.1350
03/17/2010 00:05                 0.1639
03/17/2010 00:10                 0.1582
03/17/2010 00:15                 0.1527
03/17/2010 00:20                 0.1456
...                                 ...
03/17/2010 23:35                 0.2277
03/17/2010 23:40                 0.2005
03/17/2010 23:45                 0.2158
03/17/2010 23:50                 0.1409
03/17/2010 23:55                 0.1440

[288 rows x 1 columns]

# 3 References
- The information for GMNS data format： https://github.com/zephyr-data-specs/GMNS
- The official manual for Pandas：https://pandas.pydata.org/pandas-docs/version/0.15/tutorials.html
- The test dataset for the artical: https://github.com/asu-trans-ai-lab/QGIS_NeXTA4GMNS/tree/master/datasets
- the another dataset: https://github.com/asu-trans-ai-lab/DTALite/tree/main/dataset
- How to read CSV file from GitHub using pandas: https://stackoverflow.com/questions/55240330/how-to-read-csv-file-from-github-using-pandas
- An Excel based pivot table link: https://support.microsoft.com/en-us/office/create-a-pivottable-to-analyze-worksheet-data-a9a84538-bfe9-40a9-a8e9-f99134456576